* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Altura / vh - altura */
  width: 100vw;
  /*  vw - largura */
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: #292929;
}

.caixa-maior {
  background-color: #000000; /*  Troca cor de fundo  */
  width: 90%; /*  Largura  */
  max-width: 370px; /*  Largura  Maxima */
  opacity: 0.8; /* transparencia do item */
  padding: 20px;
  border-radius: 25px;
}

input {
  border: none; /* borda do elemento */
  outline: none; /* borda quando seleciona o elemento */
  padding: 10px; /* espaçamento interno */

  font-size: 20px;
  color: #ffffff;
  width: calc(100% - 46px);
}
input:hover {
  background-color: #292929;
  color: #fff;
}

button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: #0707072b;
  float: right;
  cursor: pointer;
  color: #ffffff;
}

button:hover {
  background-color: #ffffff;
}

.caixa-media {
  margin-top: 30px;
}

.caixa-menor {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.lupa {
  height: 20px;
}

h2 {
  color: white;
  font-size: 28px;
}
.descricao {
  margin-left: 20px;
  text-transform: capitalize; /* Deixa a primeira letra maiuscula*/
}
.barra {
  background-color: #fff;
}
.barra:hover {
  border-radius: 5px;
}
